In [18]:
lst = [1, 2, 3, 4, 4, 5, 6, 7, 7] 
  
l1 = [x for x in lst if x % 2 == 0] 
  
print(l1)

[2, 4, 4, 6]

In [14]:
lst = [ let for let in 'Data_Scientist' ]
print(lst)

['D', 'a', 't', 'a', '_', 'S', 'c', 'i', 'e', 'n', 't', 'i', 's', 't']

In [18]:
num=[ a for a in range(12) if a % 2 == 0]
print(num)

[0, 2, 4, 6, 8, 10]

In [20]:
l1 = [n**2 for n in range(10)] 
  
print("square:",l1)

square: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
num = ["Even" if i%2==0 else "Odd" for i in range(20)]
print(num)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [22]:
l1 = [21,22,32,43,24,2,7,55,78,55] 
  
odd = [x for x in l1 if x % 2 != 0] 
  
print(odd)

[21, 43, 7, 55, 55]

In [17]:
[x for x in 'Robert_Downey' ]

['R', 'o', 'b', 'e', 'r', 't', '_', 'D', 'o', 'w', 'n', 'e', 'y']

In [14]:
str = 'Data Science Essential course' 
[i for i in str if i in 'aeiou']

['a', 'a', 'i', 'e', 'e', 'e', 'i', 'a', 'o', 'u', 'e']

In [15]:
str1 = 'hi@we#are$at^letupgrade&' 
l1=['!','@','#','$','%','^','&','*','+']
[i for i in str1 if i in l1]

['@', '#', '$', '^', '&']

In [13]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [8]:
l1=['x','y','z','x','r','x','q','x']
l1.count('x')

4

In [12]:
l1=['x','y','z','x','r','x','q','x']
l1.sort()
l1

['q', 'r', 'x', 'x', 'x', 'x', 'y', 'z']

In [10]:
[(x, y) for x in [3,4,9] for y in [2,5,8] if x != y]

[(3, 2), (3, 5), (3, 8), (4, 2), (4, 5), (4, 8), (9, 2), (9, 5), (9, 8)]