In [3]:
import pandas as pd
import numpy as np

In [4]:
data = np.array(['D', 'a', 't', 'a', 'S', 'c', 'i', 'e', 'n', 't', 'i', 's', 't'])
s = pd.Series(data)
s

0     D
1     a
2     t
3     a
4     S
5     c
6     i
7     e
8     n
9     t
10    i
11    s
12    t
dtype: object

In [7]:
df = pd.DataFrame(data)
df

    0
0   D
1   a
2   t
3   a
4   S
5   c
6   i
7   e
8   n
9   t
10  i
11  s
12  t